POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_ADMIN_DATABASE=postgres
POSTGRES_DATABASE=querypilot

# add your postgres user and password
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

POSTGRES_READ_ONLY_USER=querypilot_reader
POSTGRES_READ_ONLY_PASSWORD=querypilot_reader_password

POSTGRES_POOL_MIN_SIZE=1
POSTGRES_POOL_MAX_SIZE=5
POSTGRES_CONNECT_TIMEOUT_SECONDS=10